<ion-slides pager="true" [options]="slideOpts">
	<ion-slide *ngIf="photoService.photos[0] as photo">
		<ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
	</ion-slide>
	<ion-slide *ngIf="photoService.photos[1] as photo">
		<ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
	</ion-slide>
	<ion-slide *ngIf="photoService.photos[2] as photo">
		<ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
	</ion-slide>
</ion-slides>

<!-- 
	<ion-slides pager="true" [options]="slideOpts">
	<ion-slide *ngFor="let photo of photoService.photos; index as position">
		<ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
	</ion-slide>
</ion-slides>

 -->
