<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button (click)="openMenu()"></ion-menu-button>
	</ion-buttons>
	<ion-title>Photo Gallery</ion-title>
</ion-toolbar>

<ion-content>
	<ion-segment color="secondary">
		<ion-segment-button value="standard">
			<ion-label>Collection</ion-label>
		</ion-segment-button>
		<ion-segment-button value="hybrid">
			<ion-label>Slides</ion-label>
		</ion-segment-button>
		<ion-segment-button value="sat">
			<ion-label>Other</ion-label>
		</ion-segment-button>
	</ion-segment>

	<ion-grid>
		<ion-row>
			<ion-col size="3" *ngFor="let photo of photoService.photos; index as position">
				<ion-img
					src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
					(click)="presentModal(position)"
				></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-slides pager="true" [options]="slideOpts">
		<ion-slide *ngFor="let photo of photoService.photos; index as position">
			<ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"></ion-img>
		</ion-slide>
	</ion-slides>

	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button (click)="photoService.addNewToGallery()">
			<ion-icon name="camera"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
<!-- 
(click)="showActionSheet(photo, position)"
 -->
